body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    margin: 3% 0 3% 0;
    color: burlywood;
}

input {
    width: 25%
}


#divdiv {
    display: flex;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;

}

.buttons {
    background-color:burlywood;
    border-radius: 100%;
    width: 8%;
    min-height: 40px;
    font-weight: 700;
    /* width: auto; */
    

}

.buttons:hover {
    background-color: rgb(255, 229, 144);
    cursor:pointer;
    font-style: italic;
}

#ACG {
    max-height: 150px;
    
}




/* media queries */
@media only screen and (max-width: 600px) {
    #divdiv {
        margin-right: 0%;
        margin-left: 0%;
    }

    h1 {
        margin: 0 0 5% 0%;

    }

    input {
        width: 70%;
    }

    
  }

  @media only screen and (max-width: 1200px) {
    .buttons {
        width: auto;
    }
}